body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

main {
    padding: 20px;
}

h2 {
    color: #000;
    border-bottom: 2px solid #ccc;
    padding-bottom: 40px;
}

section {
    margin-bottom: 40px;
}

.disenador {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.producto { background-color: #fff;
 border: 1px solid #ccc;
 padding: 20px;
 margin-bottom: 20px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); width: 100%;
 max-width: 30%;
 box-sizing: border-box;
 text-align: center;
 flex: 1 1 calc(33.333% - 40px);
 margin: 20px
}

.producto img {
    max-width: 100%;
    height: auto;
}

button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px
}

button:hover {
    background-color: #444;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
}

@media (max-width: 768px) { 
  .producto { 
     flex: 1 1 calc(50% - 40px);
   } 
} 

@media (max-width: 480px) { 
  .producto { 
      flex: 1 1 100%;
    }
}